/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-may-2018, 1:39:39
    Author     : santiago
*/
.table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px 50px;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
  vertical-align: top;
}

.box {
  border: 10px solid rgba(238, 238, 238, 0.6);
  background-color: rgba(238, 238, 238, 0.2);
}

#panel {
  cursor: move;
}

button {
  padding: 4px 10px;
  font-size: 1em;
}
